transformers>=4.30.0
torch>=2.0.0
youtube-transcript-api
sentencepiece
pandas
numpy
seaborn
matplotlib
scikit-learn
rouge-score
sentence-transformers
datasets
evaluate
accelerate
altair
scipy
